<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOfferLabel" jhiTranslate="travelApp.offer.home.createOrEditLabel">Create or edit a Offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!offer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="offer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.offerDate" for="field_offerDate">Offer Date</label>
            <div class="d-flex">
                <input id="field_offerDate" type="datetime-local" class="form-control" name="offerDate" [(ngModel)]="offer.offerDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="offer.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="offer.note" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="offer.status" id="field_status" >
                <option value="OFFERED">{{'travelApp.StatusOffer.OFFERED' | translate}}</option>
                <option value="CANCEL">{{'travelApp.StatusOffer.CANCEL' | translate}}</option>
                <option value="ACCEPTED">{{'travelApp.StatusOffer.ACCEPTED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="offer.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.request" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="offer.requestId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.offer.trip" for="field_trip">Trip</label>
            <select class="form-control" id="field_trip" name="trip" [(ngModel)]="offer.tripId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tripOption.id" *ngFor="let tripOption of trips; trackBy: trackTripById">{{tripOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
