
<div *ngIf="preOrder">
    <h2><span jhiTranslate="travelApp.preOrder.detail.title">Pre Order</span> {{preOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="travelApp.preOrder.orderDate">Order Date</span></dt>
        <dd>
            <span>{{preOrder.orderDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="travelApp.preOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'travelApp.Status.' + preOrder.status}}">{{preOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="travelApp.preOrder.user">User</span></dt>
        <dd>
            {{preOrder.userId}}
        </dd>
        <dt><span jhiTranslate="travelApp.preOrder.product">Product</span></dt>
        <dd>
            <div *ngIf="preOrder.productId">
                <a [routerLink]="['/product', preOrder.productId]">{{preOrder.productId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="travelApp.preOrder.trip">Trip</span></dt>
        <dd>
            <div *ngIf="preOrder.tripId">
                <a [routerLink]="['/trip', preOrder.tripId]">{{preOrder.tripId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pre-order/'+ preOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
