<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRequestLabel" jhiTranslate="travelApp.request.home.createOrEditLabel">Create or edit a Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!request.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="request.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.requestDate" for="field_requestDate">Request Date</label>
            <div class="d-flex">
                <input id="field_requestDate" type="datetime-local" class="form-control" name="requestDate" [(ngModel)]="request.requestDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.viewed" for="field_viewed">Viewed</label>
            <input type="number" class="form-control" name="viewed" id="field_viewed"
                [(ngModel)]="request.viewed" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="request.status" id="field_status" >
                <option value="OPEN">{{'travelApp.Status.OPEN' | translate}}</option>
                <option value="REQUSTED">{{'travelApp.Status.REQUSTED' | translate}}</option>
                <option value="OFFERED">{{'travelApp.Status.OFFERED' | translate}}</option>
                <option value="ACCEPTED">{{'travelApp.Status.ACCEPTED' | translate}}</option>
                <option value="PAID">{{'travelApp.Status.PAID' | translate}}</option>
                <option value="COMPLETED">{{'travelApp.Status.COMPLETED' | translate}}</option>
                <option value="CLOSE">{{'travelApp.Status.CLOSE' | translate}}</option>
                <option value="COMPLAINED">{{'travelApp.Status.COMPLAINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.travelerid" for="field_travelerid">Travelerid</label>
            <input type="number" class="form-control" name="travelerid" id="field_travelerid"
                [(ngModel)]="request.travelerid" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="request.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="travelApp.request.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="request.productId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
